---
Checks: '
  *,
  -altera-*,
  -android-*,
  -boost-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-redundant-member-init,
  -readability-suspicious-call-argument
  '

CheckOptions:
  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.PublicMethodCase, value: CamelCase }
  - { key: readability-identifier-naming.ProtectedMethodCase, value: CamelCase }
  - { key: readability-identifier-naming.PrivateMethodCase, value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberCase, value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: '_' }
  - {
      key: readability-implicit-bool-conversion.AllowPointerConditions,
      value: 1,
    }
