AccessModifierOffset: -4
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
BasedOnStyle: Chromium
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 160
IndentWidth: 4
InsertBraces: true
