*.clang-format text eol=lf
*.clang-tidy text eol=lf
*.cmd text eol=lf
*.cpp text eol=lf
*.editorconfig text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.gitmodules text eol=lf
*.h text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.yml text eol=lf
